header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.099);
  .header-icons {
    svg {
      margin-left: 30px;
      cursor: pointer;
    }
  }
  .logo {
    img {
      width: 150px;
      height: 100px;
    }

    @media (max-width: 768px) {
      img {
        width: 100px;
      }
    }
  }
}

.header-bg-on-scroll {
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}
