@font-face {
    font-family: Galil;
    src: url(./fonts/Galil-Regular.woff);
}

body {
    margin: 0;
    direction: rtl;
}
*{
    box-sizing: border-box;
}

a{
    text-decoration:none !important;
}


@import "bootstrap/scss/bootstrap";
@import "./header.scss";
@import "./home.scss";
@import "./footer.scss"